#redditData {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
}

/*
    Hides table until required (made visible in JS).
*/
#dataTable {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
}